<div *ngIf="processedFile.error.isError">
    <p *ngFor="let line of processedFile.foundLines">{{line}}</p>
    <p class="bad">^^^ {{processedFile.error.text}} op regel {{processedFile.error.line}}</p>
</div>
<div *ngIf="!processedFile.error.isError && processedFile.cursusInstanties.length > 0">
    <app-cursusinstantie-table [data]="processedFile.cursusInstanties"></app-cursusinstantie-table>
</div>
<form>
    <label for="file">Bestand: </label><input type="file" name="file" (change)="CheckFile($event)" >
</form>
<form [formGroup]="dateForm">
    <label for="startDate">
       Start datum<label *ngIf="(!startDate.dirty)">?</label>
    </label>
    <input formControlName="startDate" name="startDate" type="date">
    <label for="endDate" *ngIf="(startDate.dirty)">
        Eind datum
    </label>
    <input formControlName="endDate" name="endDate" type="date" *ngIf="(startDate.dirty)">
</form>
<button *ngIf="!processedFile.error.isError && processedFile.cursusInstanties.length > 0" (click)="sendToBackend()"> Toevoegen aan database </button>

<!--Return from the server-->
<div *ngIf="feedback.duplicateCursusInstanties.length != 0 || feedback.newCursusInstanties.length != 0 || feedback.outOfRangeCursusInstanties.length != 0 || feedback.newCursus.length != 0">
    Snel overzicht: 
    <p *ngIf="feedback.duplicateCursusInstanties.length != 0" class="bad"> Al bestaande instanties({{feedback.duplicateCursusInstanties.length}}) </p>
    <p *ngIf="feedback.newCursusInstanties.length != 0" class="good"> Nieuw toegevoegde instanties({{feedback.newCursusInstanties.length}}) </p>
    <p *ngIf="feedback.outOfRangeCursusInstanties.length != 0" class="bad"> Instanties buiten de gegeven datums({{feedback.outOfRangeCursusInstanties.length}}) </p>
    <p *ngIf="feedback.newCursus.length != 0" class="good"> Nieuwe cursus toegevoegd({{feedback.newCursus.length}}) </p>
    <hr>
</div>

<div *ngIf="feedback.duplicateCursusInstanties.length != 0" class="bad">
    Al bestaande instanties:<br>
    <app-cursusinstantie-table [data]="feedback.duplicateCursusInstanties"></app-cursusinstantie-table>
</div>
<div *ngIf="feedback.newCursusInstanties.length != 0" class="good">
    Nieuw toegevoegde instanties:<br>
    <app-cursusinstantie-table [data]="feedback.newCursusInstanties"></app-cursusinstantie-table>
</div>
<div *ngIf="feedback.outOfRangeCursusInstanties.length != 0" class="bad">
    Instanties buiten de gegeven datums:
    <app-cursusinstantie-table [data]="feedback.outOfRangeCursusInstanties"></app-cursusinstantie-table>
</div>
<div *ngIf="feedback.newCursus.length != 0" class="good">
    Nieuwe cursus toegevoegd:
    <table>
        <thead>
            <td>Titel</td>
            <td>Code</td>
            <td>Duur</td>
        </thead>
        <tr *ngFor="let cursus of feedback.newCursus">
            <td>{{cursus.titel}}</td>
            <td>{{cursus.code}}</td>
            <td>{{cursus.duur}}</td>
        </tr>
    </table>
</div>